<div class="main-bookings">
  
    <div class="result-list">
        <h3 class="Booking-loc">{{BookingLoc}}</h3>
<div class="booking-date"><b>{{BookingDate}}</b></div>
<div class="bflight-time">
  <span class="bdepart-time">{{BookingDeparture}}</span>
  <span class="saudi-logo"><img src="/data/media/img/icon-SV.svg"/></span>
  <span class="barrival-time">{{BookingArrival}}</span>
</div>
<div class="booking-inr">INR {{BookingINR | number}}</div>
<span class="flight-text">Saudia Airlines</span>
      </div>
      <div class="back-btn"><a routerLink="/result">Go Back</a></div>



</div>
