<div class="booking-main">
  <div class="booking-grid" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
    <div class="main-heading"><h2 *scRichText="rendering.fields.content"></h2><span class="logo-img"><img src="/data/media/img/icon-SV.svg"/></span></div>
    <div class="main-bgrids">
      <div class="bitem"><a routerLink="/result/booking">
          <div class="b-title">INR {{BookingInr | number}}</div><span class="bdate">{{myDate}}</span>
          <div class="flight-time"><span class="b-time" *scText="rendering.fields.departureTime"></span> - <span
              class="b-time" *scText="rendering.fields.arrivalTime"></span> </div>
        </a></div>
        <div class="bitem"><a routerLink="/result/booking">
          <div class="b-title">INR {{BookingInr | number}}</div><span class="bdate">{{myDate}}</span>
          <div class="flight-time"><span class="b-time" *scText="rendering.fields.departureTime"></span> - <span
              class="b-time" *scText="rendering.fields.arrivalTime"></span> </div>
        </a></div>
        <div class="bitem"><a routerLink="/result/booking">
          <div class="b-title">INR {{BookingInr | number}}</div><span class="bdate">{{myDate}}</span>
          <div class="flight-time"><span class="b-time" *scText="rendering.fields.departureTime"></span> - <span
              class="b-time" *scText="rendering.fields.arrivalTime"></span> </div>
        </a></div>
        <div class="bitem"><a routerLink="/result/booking">
          <div class="b-title">INR {{BookingInr | number}}</div><span class="bdate">{{myDate}}</span>
          <div class="flight-time"><span class="b-time" *scText="rendering.fields.departureTime"></span> - <span
              class="b-time" *scText="rendering.fields.arrivalTime"></span> </div>
        </a></div>
        <div class="bitem"><a routerLink="/result/booking">
          <div class="b-title">INR {{BookingInr | number}}</div><span class="bdate">{{myDate}}</span>
          <div class="flight-time"><span class="b-time" *scText="rendering.fields.departureTime"></span> - <span
              class="b-time" *scText="rendering.fields.arrivalTime"></span> </div>
        </a></div>
        <div class="bitem"><a routerLink="/result/booking">
          <div class="b-title">INR {{BookingInr | number}}</div><span class="bdate">{{myDate}}</span>
          <div class="flight-time"><span class="b-time" *scText="rendering.fields.departureTime"></span> - <span
              class="b-time" *scText="rendering.fields.arrivalTime"></span> </div>
        </a></div>
        <div class="bitem"><a routerLink="/result/booking">
          <div class="b-title">INR {{BookingInr | number}}</div><span class="bdate">{{myDate}}</span>
          <div class="flight-time"><span class="b-time" *scText="rendering.fields.departureTime"></span> - <span
              class="b-time" *scText="rendering.fields.arrivalTime"></span> </div>
        </a></div>
    </div>

  </div>
</div>